@charset "UTF-8";
#profile{
    height: 50px;
    margin: 40px 40px 40px 40px; 
}



#userImg{
    width: 80px;
    height: 80px;
    border: 2px solid blick;
    float: left;

}

#top-pf{
    height: 30px;
    width: auto;
}

#name{
    float: left;
    font-weight: 600;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 10px;
    color: rgb(243, 156, 18);
}

#nim{
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 7px;
    float: left;
}

#welcome{         
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
    float: left;
}

#rest-point{
    padding-top: 8px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: rgb(51, 51, 51);
}

#logout{
    text-align: center;
    padding-top: 18px;
}
#btn{
    width: 200px;
    height: 35px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background: rgb(174, 174, 174);
    border: none;
    border-radius: 7px;
}

#btn:active{
    background-color: rgb(100, 100, 100);
    border: none;
}



/*메뉴바*/
.nav{
    margin: 25px 0px 20px 10px; 
    width:230px;
    height: 350px;
}
li{
	color:black;
}
ul{
    list-style:none;
    text-decoration:none;
}
.nav a{
    text-decoration:none;
    color: black;
} 
.clear{
    clear:both;
} 

#nav-v1{
    width:230px;
    font-size: 18px;
    font-weight: 600;
    color:black;
} 
.menu-v1{ 
	width:230px;
    line-height:2.8; 
    color:blick;
} 
.menu-v1:hover{
	text-decoration:none;
    background-color:rgb(245, 245, 245);
} 

.menu-v1:hover>a{
    font-weight:bold;
    text-decoration:none;
    color:  rgb(235, 92, 1);
} 


.menu-v1 .submenu{ 
    text-decoration:none;
    margin-top:7px; 
    background-color:#fff; 
    display:none; 
    height: 90px;
} 
.menu-v1 .submenu :hover>a{
	text-decoration:none;
	color:  rgb(235, 92, 1);
}

 