@charset "UTF-8";

body{
    width: auto;
    height: 700px;
    margin : auto;
}

/*해더 부분*/
header{
    width: auto;
    height: 100px;
    padding-top: 70px;
    margin : auto;
}

.background{
    height:1000px;
    margin : auto;
    padding-top: 80px;
    background: linear-gradient(rgb(70, 70, 70) 32%, #fff 10% );
}

.contents{
    height: auto;
    padding-top: 80px;
}

.contents .kind{
    width: auto;
    height: 30px;
}

.contents .kind #k1{
    float: right;
    width: 8%;
    height: 40px;
    margin-right: 85px;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    text-align: center;
    font-weight: 550;
    font-size: 17px;
    color: rgb(235, 92, 1);
    padding-top: 10px;
    border: 2px solid rgb(174, 174, 174);
}

.contents .kind #k2{
    float: right;
    width: 8%;
    height: 40px;
    margin-right: 15px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(238, 238, 238);
    text-align: center;
    font-weight: 550;
    font-size: 17px;
    color: rgb(174, 174, 174);
    padding-top: 12px;
}

.leftMenu{
    border: 3px solid black;
    margin-left: 70px;
    width: 18%;
    height: 840px;
    margin-top: 10px;
    float: left;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgba(108, 108, 108, 0.5);
}

.rightCon{
    border: 3px solid black;
    margin-right: 70px;
    width: 71%;
    height: 840px;
    float: right;
    border: 1px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgba(108, 108, 108, 0.5);
}

form{
	margin: 40px;
}

#h2{
	padding-top: 40px;
	font-weight: 600;
    font-size: 28px;
}

/*상단*/


.f-top{
    width: auto;
    height: 30px;
    margin: 30px 30px;
}
.f-top .count{
    float: left;
    width: 40%;
    height: auto;
    margin-top: 10px;
}
.f-top .count #num{
    float: left;
    padding-right: 5px;
    font-size: 19px;
    font-weight: 550;
    color: rgb(235, 92, 1);
}
.f-top .count #f-count{
    float: left;
    padding-right: 5px;
    font-size: 19px;
    font-weight: 550;
    color: rgb(51, 51, 51);
}


.f-top .category{
    float: right;
    width: auto;
    height: auto;
    
}
.f-top .category #divide{
    width: 110px;
    height: 35px;
    text-align: center;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(91, 91, 91);
}
#divide #op{
    border: 2px solid rgb(127, 127, 127);
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(91, 91, 91);
}

/****메인****/
.cont{
    float: left;
    width: 30%;
    height: 500px;
    margin: 0px 16px 20px 16px;
    border-radius: 20px;
    border: 3px solid rgb(190, 190, 190);
}


#f-img{
    width: 94%;
    height: 250px;
    margin: 8px;
    border: 3px solid rgb(190, 190, 190);
}

.f-progress{
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(241, 196, 15);
}

.title{
    text-align: center;
        font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(51, 51, 51);
}
.title-2{
    margin-top: 5px;
}

.accrue{
    width: 460px;
    padding-top: 30px;
    margin-left: 30px;
}
.accrue #sum{
    float: left;
    padding-right: 5px;
    font-weight: bold;
    font-size: 17px;
    
}
.accrue #achieve{
    float: left;
    font-weight: bold;
    font-size: 17px;
    padding-right: 10px;
    color: rgb(235, 92, 1);
}



/*달성률 그래프*/

.graph{
    height: 6px;
    width: auto;
    margin: 30px 30px 5px 30px;
    background-color: rgb(190, 190, 190);
}

.btn{
	margin-left: 5px;
    text-align: center;
}

#update-btn{
    width: 150px;
    height: 35px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background: rgb(174, 174, 174);
    border: none;
    border-radius: 7px;
}

#update-btn:hover{
    background-color: rgb(150, 150, 150);
    border: none;
}

#update-btn:active{
    background-color: rgb(100, 100, 100);
    border: none;
}


#delete-btn{
    width: 150px;
    height: 35px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background: rgb(174, 174, 174);
    border: none;
    border-radius: 7px;
}

#delete-btn:hover{
    background-color: rgb(150, 150, 150);
    border: none;
}

#delete-btn:active{
    background-color: rgb(100, 100, 100);
    border: none;
}