
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face{
	src:url("../fonts/korea.ttf");
	font-family: "korea";
}
:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Serif KR', serif;
  color: #444444;
}

a {
  color: #EB5C01;
  text-decoration: none;
}

a:hover {
  color: #EB5C01;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #EB5C01;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #EB5C01;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}
#starLogo{
	font-family : "korea";
	font-size : 28px;
	text-decoration: none;
	/* color : black; */
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-link{
	float: right;
	margin: 10px;
}
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: 'Noto Serif KR', serif;
  font-size: 16px;
  font-weight: 700;
  color: #013289;
  white-space: nowrap;
  transition: 0.3s;
	
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #EB5C01;
}

.navbar .getstarted {
  background: #EB5C01;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
  float: right
}

.navbar .getstarted:hover {
  color: #fff;
  background: #FB5C06;
}


/* 쪽지, 포인트, 공지사항 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300&display=swap');

#btn {
	position: fixed;
	--top: 96.5px;
	bottom: 10px;
	left: 15px;
	z-index: 9999;
	padding: 3px 15px;
}
#toggle-display {
	height: 15px;
	width: 15px;
	background-color: #EB5C01;
	border-radius: 50px;
	margin: 0px;
	color: #EB5C01;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	vertical-align: center;
	box-shadow: -3px 1.5px 3px #ffc497;
}
#myinfo {
	position: fixed;
	--top: 96.5px;
	bottom: 25px;
	left: 35px;
	z-index: 9998;
	padding: 3px 10px 3px 10px;
	background-color:rgba(235,92,1,0.1);
	margin: 0px;
	border-radius: 5px;
	transition: all 0.3s;
	display:none;
}

#toggleBtn {
    position: fixed;
    left: -9999px;
}

#toggleBtn:checked ~ #myinfo {
	position: fixed;
	--top: 96.5px;
	bottom: 28px;
	left: 38px;
	z-index: 9998;
	padding: 3px 10px 3px 10px;
	background-color:rgba(235,92,1,0.05);
	border-radius: 5px;
	margin: 0px;
	display: block;
	animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.msg-area {
	display: inline-block;
	position: relative;
	margin: 5px 20px 5px 20px;
}
.notice-area {
	display: inline-block;
	position: relative;
	margin: 5px 20px 5px 20px;
}
#noticeCount {
	float:left;
	position: absolute;
	width:30px;
	height:28px;
	left: 13px;
	bottom: 13px;
	z-index:9999;
}
#msgCount {
	float:left;
	position: absolute;
	width:30px;
	height:28px;
	left: 20px;
	bottom: 20px;
	z-index:9999;
}

#myPoint-total {
	font-family: Noto Serif KR;
	color: #585858;
	font-size: 14px;
}
#myPoint-reserved {
	font-family: Noto Serif KR;
	color: #585858;
	font-size: 11px;
	padding-left: 60px;
}
/* #box {
	width: 0px;
	opacity: 0;
	background-color:red;
	transition: all 0.3s;
}

#toggleBtn:checked ~ #box {
	width: 100%;
	opacity:1;
	background-color:blue;
	
	
} */