<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="donationMapper">

	<!-- 기부 -->
	<resultMap type="Donation" id="donationResultMap">
		<id property="projectNo" column="D_PROJECT_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="subjectName" column="SUBJECT"/>
		<result property="goalMoney" column="GOAL_MONEY"/>
		<result property="sumMoney" column="SUM_MONEY"/>
		<result property="startDate" column="START_DATE"/>
		<result property="finDate" column="FIN_DATE"/>
		<result property="projectStory" column="PROJ_STORY"/>
		<result property="warningIntro" column="WARNING_INTRO"/>
		<result property="likeCount" column="LIKE_COUNT"/>
		<result property="hitsCount" column="HITS_COUNT"/>
		<result property="projectCode" column="PROJECT_CODE"/>
		<result property="percent" column="PERCENT"/>
		<result property="leftDate" column="LEFT_DATE"/>
		
		<collection property="donationFile" resultMap="donationFileResultMap"></collection>
		<collection property="member" resultMap="memberResultMap"></collection>
	</resultMap>
	
	<!-- 기부 파일 -->
	<resultMap type="DonationFile" id="donationFileResultMap">
		<id property="fileNo" column="FILE_NO"/>
		<result property="videoUrl" column="FILE_VIDEO_URL"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileSize" column="FILE_SIZE"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileSub1Name" column="FILE_SUB1_NAME"/>
		<result property="fileSub1Size" column="FILE_SUB1_SIZE"/>
		<result property="fileSub1Path" column="FILE_SUB1_PATH"/>
		<result property="fileSub2Name" column="FILE_SUB2_NAME"/>
		<result property="fileSub2Size" column="FILE_SUB2_SIZE"/>
		<result property="fileSub2Path" column="FILE_SUB2_PATH"/>
		<result property="uploadTime" column="UPLOAD_TIME"/>
		<result property="projectNo" column="F_PROJECT_NO"/>
	</resultMap>
	
	<!-- 기부 내역 -->
	<resultMap type="DonationLog" id="DonationLogResultMap">
		<id property="donateNo" column="DODONAT_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="fundingPoint" column="DONATION_POINT"/>
		<result property="qunatity" column="QUNATITY"/>
		<result property="donateDate" column="DOANTE_DATE"/>
		<result property="cancleYn" column="CANCLE_YN"/>
		<result property="projectNo" column="D_PROJECT_NO"/>
		<result property="receiverName" column="RECEIVER"/>
		<result property="receiverPhone" column="RECEIVER_PHONE"/>
		<result property="sponser" column="SPONSER"/>
		
		<collection property="donation" resultMap="donationResultMap" />
	</resultMap>
	
	<!-- 기부 좋아요 -->
	<resultMap type="DonationLike" id="DonationLikeResultMap">
		<id property="likeNo" column="LIKE_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="likeYn" column="LIKE_YN"/>
		<result property="projectNo" column="D_PROJECT_NO"/>
		
		<collection property="donation" resultMap="donationResultMap" />
	</resultMap>
	
	<!-- 댓글 -->
	<resultMap type="Reply" id="DonationReplyResultMap">
		<id property="replyNo" column="COMM_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="nick" column="NICK_NAME"/>
		<result property="contents" column="COMM_CONTENTS"/>
		<result property="replyType" column="BOARD_TYPE"></result>
		<result property="enrollDate" column="REG_DATE"/>
		<result property="no" column="D_PROJECT_NO"/>
	</resultMap>
	
	<!-- 댓글 신고 -->
	<resultMap type="DonationReport" id="DonationReportResultMap">
		<id property="accuDonNo" column="ACCU_DON_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="reportCode" column="REPORT_CODE"/>
		<result property="reportContent" column="REPORT_CONTENT"/>
		<result property="processing" column="PROCESSING"/>
		<result property="accusationDate" column="ACCUSATION_DATE"/>
		<result property="projectNo" column="D_PROJECT_NO"/>
	</resultMap>

	<!-- 맴버 -->
	<resultMap type="Member" id="memberResultMap">
		<id property="userId" column="USER_ID"></id>
		<result property="userPw" column="USER_PW"></result>
		<result property="nickName" column="NICKNAME"></result>
		<result property="userName" column="USER_NAME"></result>
		<result property="userEmail" column="USER_EMAIL"></result>
		<result property="userPhone" column="USER_PHONE"></result>
		<result property="userAddr" column="USER_ADDR"></result>
		<result property="birthday" column="BIRTHDAY"></result>
		<result property="enrollDate" column="ENROLL_DATE"></result>
		<result property="withdrawDate" column="WITHDRAW_DATE"></result>
		<result property="mCode" column="M_CODE"></result>
		<result property="mngNo" column="MNG_NO"></result>
	</resultMap>
	
	<!--신고하기 관련 관리자  -->
	<resultMap type="ReportStat" id="reportStatResultMap">
		<result property="reportDay" column="REPORT_DAY"/>
      	<result property="reportStatCount" column="REPORT_STAT_COUNT"/>
	</resultMap>
	
	
	<!-- ============== -->


    <!--기부 리스트-->
 	<select id="selectDonationList" resultMap="donationResultMap">
		SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
      	PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
        FROM
		(SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
      	DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
       	DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT,DONATION .PROJECT_CODE,
       	CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
       	DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
       	DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
       	DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 1 DESC)
		WHERE LEFT_DATE > 0 AND PROJECT_CODE = 0
	</select> 
	
	<select id="selectDonationListEnd" resultMap="donationResultMap">
		SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
      	PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
        FROM
		(SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
      	DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
       	DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT,DONATION .PROJECT_CODE,
       	CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
       	DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
       	DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
       	DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 1 DESC)
		WHERE <![CDATA[LEFT_DATE <= 0 AND (ROWNUM >= 1 AND ROWNUM <= 6)]]>
	</select>
	
	<select id="selectDonationListLimit" resultMap="donationResultMap">
		SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
      	PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
        FROM
		(SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
      	DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
       	DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT,DONATION .PROJECT_CODE,
       	CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
       	DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
       	DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
       	DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 1 DESC)
		WHERE LEFT_DATE > 0
	</select> 
	
	<select id="selectDonationListEndLimit" resultMap="donationResultMap">
		SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
      	PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
        FROM
		(SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
      	DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
       	DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT,DONATION .PROJECT_CODE,
       	CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
       	DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
       	DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
       	DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 1 DESC)
		WHERE LEFT_DATE<![CDATA[ <= ]]>0
	</select>
	
	<!-- 기부 제안 등록 -->
	<insert id="insertDonation" parameterType="Donation">
		INSERT INTO DONATION
		VALUES(SEQ_DONATION_NO.NEXTVAL, #{userId}, #{subjectName}, #{goalMoney}, DEFAULT, SYSDATE,
		#{finDate}, #{projectStory}, #{warningIntro}, DEFAULT, DEFAULT, 0)
	</insert>
	
	<!-- 기부 제안 파일 등록 -->
	<insert id="insertDonationFile" parameterType="DonationFile">
		INSERT INTO
		DONATION_FILE
		VALUES(SEQ_DONATION_FILE_NO.NEXTVAL,#{videoUrl},#{fileName},NULL,'AAA',
		#{fileSub1Name},NULL,'BBB',#{fileSub2Name},NULL,'CCC',SYSTIMESTAMP,SEQ_DONATION_NO.CURRVAL)
	</insert>
	
	<!--기부 상세 페이지 조회수 증가  -->
	<update id="updateCount" parameterType="Donation">
		UPDATE DONATION SET HITS_COUNT = HITS_COUNT + 1
		WHERE
		D_PROJECT_NO = #{projectNo }
	</update>
	
	
	<!-- 기부 상세 & 기부 참여 -->
	<select id="selectOne" resultMap="donationResultMap">
	    SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,HITS_COUNT,PROJECT_CODE, 
	    PERCENT,LEFT_DATE, NICKNAME
	    FROM
	    (SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
	    DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, DONATION.PROJ_STORY,
	    DONATION.WARNING_INTRO, DONATION.LIKE_COUNT, DONATION.HITS_COUNT, DONATION.PROJECT_CODE,
	    CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
	    MEMBER.NICKNAME
	    FROM DONATION, MEMBER
	    WHERE DONATION.USER_ID = MEMBER.USER_ID)
	    WHERE D_PROJECT_NO = #{projectNo}
	</select>
	
	<!-- 기부 리스트 상세 (파일_사진)_ 하나만 출력 쿼리문 -->
	<select id="selectOneFile" resultMap="donationFileResultMap">
		SELECT * FROM DONATION_FILE WHERE D_PROJECT_NO = #{projectNo}
	</select>
	
	<!-- 기부 리스트 상세(좋아요) -->
	<select id="selectOneLike" resultMap="DonationLikeResultMap">
		SELECT * FROM DONATION_LIKE WHERE D_PROJECT_NO = #{projectNo}
	</select>
	
	<!-- 후원자 수 카운트 -->
	<select id="countSponserNumber" resultMap="DonationLogResultMap">
		SELECT COUNT(*) AS SPONSER FROM DO_DONATION
		WHERE D_PROJECT_NO =  #{projectNo}
	</select>
	
	<!-- 좋아요 내역 추가 -->
	<insert id="insertLike" parameterType="DonationLike">
		INSERT INTO
		DONATION_LIKE
		VALUES(SEQ_DONATION_LIKE_NO.NEXTVAL, #{userId}, DEFAULT, #{projectNo})
	</insert> 
 	
	<!-- 좋아요 업데이트 -->
	<update id="updateLike" parameterType="Donation">
		UPDATE DONATION SET LIKE_COUNT = LIKE_COUNT + 1
		WHERE D_PROJECT_NO = #{projectNo}
	</update>
	
	<!-- 좋아요 취소 1 (감소) -->
	<update id="updateLikeCol_Minus" parameterType="Donation">
		UPDATE DONATION SET LIKE_COUNT = LIKE_COUNT - 1
		WHERE
		D_PROJECT_NO = #{projectNo }	
	</update>
	
	<!-- 좋아요 취소 -->
	<delete id="deleteLike" parameterType="DonationLike">
        DELETE DONATION_LIKE 
        WHERE D_PROJECT_NO = #{projectNo } 
        AND USER_ID = #{userId }
	</delete>	
	
	<!-- 댓글 -->
	
	<!-- 댓글 작성 -->
	<insert id="insertReply">
		INSERT INTO 
		DONATION_COMMENTS VALUES(SEQ_DONATION_REPLY_NO.NEXTVAL, #{userId }, #{nick }, #{contents }, '기부상세', SYSDATE, #{no })
	</insert>
	
	<!-- 댓글 목록 출력 -->
	<select id="selectReplyList" resultMap="DonationReplyResultMap">
		SELECT * FROM DONATION_COMMENTS
		WHERE
		D_PROJECT_NO  = #{projectNo }
		ORDER BY COMM_NO DESC
	</select>
	
	<!-- 댓글 수정 -->
	<update id="updateReply" >
		UPDATE DONATION_COMMENTS 
		SET COMM_CONTENTS = #{contents }
		WHERE D_PROJECT_NO = #{no } AND COMM_NO = #{replyNo }
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply">
		DELETE DONATION_COMMENTS
		WHERE D_PROJECT_NO = #{no } AND COMM_NO = #{replyNo }
	</delete>
	
	<!-- 금액 -->
	<select id=""></select>
	
	
	<!-- 기부 참여하기 -->
	<select id="selectDonationLogOne" resultMap="DonationLogResultMap">
		SELECT * FROM DO_FUNDING WHERE F_PROJECT_NO2 = #{projectNo} ORDER BY 1 DESC
	</select>
	
	<!-- 기부 참여하기 -->
	<insert id="insertDonationLog" parameterType="DonationLog">
	    INSERT INTO DO_DONATION
    	VALUES(SEQ_DONATION_LOG_NO.NEXTVAL,#{userId},#{fundingPoint},#{qunatity},SYSDATE,DEFAULT,#{projectNo}
    	,#{receiverName},#{receiverPhone})
	</insert>
	
	<!-- 기부 참여하기 -->
	<update id="updateDonationAddMoney" parameterType="Donation">
	    UPDATE DONATION SET SUM_MONEY = (SUM_MONEY + #{sumMoney})
    	WHERE D_PROJECT_NO = #{projectNo}	
	</update>	
	
	<!-- 신고하기 -->
	<insert id="reportInsert" parameterType="DonationReport"> 
		INSERT INTO
		DONATION_ACCUSATION
		VALUES(SEQ_FUND_ACCUSATION_NO.NEXTVAL,#{userId},#{reportCode},#{reportContent},DEFAULT,SYSDATE,#{projectNo})
	</insert>
	
	
	<!-- ////// 검색 ////// -->
	<select id="selectSearchList_1" resultMap="donationResultMap">
		SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
        PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
        FROM
        (SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
        DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
		DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT, DONATION.PROJECT_CODE,
		CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
		DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
		DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
		DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 1 DESC)
		WHERE LEFT_DATE > 0 AND SUBJECT LIKE '%' || #{searchValue } || '%' AND PROJECT_CODE = 0
	</select>
	
	<select id="selectSearchList_2" resultMap="donationResultMap">
		SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
        PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
        FROM
        (SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
        DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
		DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT, DONATION.PROJECT_CODE,
		CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
		DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
		DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
		DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 1 DESC)
		WHERE LEFT_DATE<![CDATA[ <= ]]>0 AND SUBJECT LIKE '%' || #{searchValue } || '%' AND PROJECT_CODE = 0
	</select>
	
	<select id="selectFundingList_Like" resultMap="donationResultMap">
		SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
        PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
        FROM
        (SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
        DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
		DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT, DONATION.PROJECT_CODE,
		CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
		DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
		DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
		DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 10 DESC)
		WHERE <![CDATA[LEFT_DATE > 0 AND (ROWNUM >= 1 AND ROWNUM <= 6) ]]>  AND PROJECT_CODE = 0
	</select>
	
	<select id="selectFundingList_Money" resultMap="donationResultMap">
		SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
        PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
        FROM
        (SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
        DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
		DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT, DONATION.PROJECT_CODE,
		CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
		DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
		DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
		DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 5 DESC)
		WHERE <![CDATA[LEFT_DATE > 0 AND (ROWNUM >= 1 AND ROWNUM <= 6) ]]> AND PROJECT_CODE = 0
	</select>
	
	<select id="selectFundingListEnd_Money" resultMap="donationResultMap">
		SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
           PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
           FROM
           (SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
                  DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
		       DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT, DONATION.PROJECT_CODE,
		       CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
		       DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
		       DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
		       DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 5 DESC)
		WHERE <![CDATA[LEFT_DATE <= 0 AND (ROWNUM >= 1 AND ROWNUM <= 6) ]]>  AND PROJECT_CODE = 0
	</select>
	
	<select id="selectFundingListEnd_Like" resultMap="donationResultMap">
		SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
           PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
           FROM
           (SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
                  DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
		       DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT, DONATION.PROJECT_CODE,
		       CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
		       DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
		       DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
		       DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 10 DESC)
		WHERE <![CDATA[LEFT_DATE <= 0 AND (ROWNUM >= 1 AND ROWNUM <= 6) ]]> AND PROJECT_CODE = 0
	</select>
	
	
	<!-- 관리자용 -->
   	<select id="selectDonationListCount" resultType="_int">
      	SELECT COUNT(*) FROM DONATION WHERE PROJECT_CODE = 0
   	</select>
   
   	<select id="selectAllList" resultMap="donationResultMap">
   		SELECT * FROM DONATION WHERE PROJECT_CODE = 0
   	</select>
   
   	<update id="deleteAdminDonation" parameterType="_int">
      	UPDATE DONATION
      	SET PROJECT_CODE = 1
      	WHERE D_PROJECT_NO = #{projectNo}
   	</update>
   	
   	<select id="selectDonationAccListCount" resultType="_int">
		SELECT COUNT(*) FROM DONATION_ACCUSATION WHERE PROCESSING = 'N'
	</select>
   
   	<select id="selectDonationAccList" resultMap="DonationReportResultMap">
         SELECT * FROM DONATION_ACCUSATION WHERE PROCESSING = 'N'
   	</select>
   	
   	<select id="selectCountReport" resultMap="reportStatResultMap">
      SELECT DAY_LEVEL, DAY_NAME "REPORT_DAY", NVL(STAT_COUNT, 0) "REPORT_STAT_COUNT" FROM DAY_LEVEL LEFT JOIN (SELECT DAY, COUNT(*) "STAT_COUNT" FROM(
      SELECT TO_CHAR(ACCUSATION_DATE, 'D') "DAY_ORDER", CASE
      WHEN TO_CHAR(ACCUSATION_DATE, 'D') = '1' THEN '일'
      WHEN TO_CHAR(ACCUSATION_DATE, 'D') = '2' THEN '월'
      WHEN TO_CHAR(ACCUSATION_DATE, 'D') = '3' THEN '화'
      WHEN TO_CHAR(ACCUSATION_DATE, 'D') = '4' THEN '수'
      WHEN TO_CHAR(ACCUSATION_DATE, 'D') = '5' THEN '목'
      WHEN TO_CHAR(ACCUSATION_DATE, 'D') = '6' THEN '금'
      WHEN TO_CHAR(ACCUSATION_DATE, 'D') = '7' THEN '토'
      END "DAY"
      FROM FUNDING_ACCUSATION WHERE TO_CHAR(ACCUSATION_DATE) &gt;= TO_CHAR(SYSDATE-7,'YYYY-MM-DD') ORDER BY 1) GROUP BY DAY, DAY_ORDER ORDER BY DAY_ORDER ASC) ON DAY = DAY_NAME ORDER BY 1       
    </select>
   	
   	<!--마이페이지 기부 리스트  -->
   	
   	<select id="selectListCountMy" resultType="_int">
		SELECT count(*) FROM DO_DONATION LEFT OUTER JOIN 
	    (SELECT * FROM DONATION LEFT OUTER JOIN (DONATION_FILE) USING(D_PROJECT_NO)) 
	    USING(D_PROJECT_NO) 
	    WHERE PROJECT_CODE = 0 AND CANCLE_YN = 0 AND DO_DONATION.USER_ID = #{userId }
	</select>
	
	<select id="selectListCountLike" resultType="_int">
		SELECT count(*) FROM DONATION_LIKE LEFT OUTER JOIN 
	    (SELECT * FROM DONATION LEFT OUTER JOIN (DONATION_FILE) USING(D_PROJECT_NO)) 
	    USING(D_PROJECT_NO) 
	    WHERE PROJECT_CODE = 0 AND DONATION_LIKE.USER_ID = #{userId }
	</select>
	
	<select id="selectListCountProp" resultType="_int">
		SELECT count(*) AS COUNT FROM
       	(SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
       	DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
       	DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT, DONATION.PROJECT_CODE,
       	CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
       	DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
       	DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
       	DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO)
		WHERE PROJECT_CODE = 0 AND USER_ID = #{userId }
	</select>
   	
	<select id="selectMyDonation" resultMap="DonationLogResultMap">
		select a.*, CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT, TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE from 
       	(SELECT * FROM DO_DONATION LEFT OUTER JOIN 
	    (SELECT * FROM DONATION LEFT OUTER JOIN (DONATION_FILE) USING(D_PROJECT_NO)) 
	    USING(D_PROJECT_NO) 
	    WHERE PROJECT_CODE = 0 AND CANCLE_YN = 0 AND DO_DONATION.USER_ID = #{userId } ORDER BY 1 DESC) a
	</select>	
	
	<select id="selectMyDonationLike" resultMap="DonationLogResultMap">
        select a.*, CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT, TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE from 
       	(SELECT * FROM DO_DONATION LEFT OUTER JOIN 
	    (SELECT * FROM DONATION LEFT OUTER JOIN (DONATION_FILE) USING(D_PROJECT_NO)) 
	    USING(D_PROJECT_NO) 
	    WHERE PROJECT_CODE = 0 AND CANCLE_YN = 0 AND DO_DONATION.USER_ID = #{userId } ORDER BY 18 DESC) a
	</select>	
	
	<select id="selectMyDonationMoney" resultMap="DonationLogResultMap">
		select a.*, CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT, TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE from 
		(SELECT * FROM DO_DONATION LEFT OUTER JOIN 
	    (SELECT * FROM DONATION LEFT OUTER JOIN (DONATION_FILE) USING(D_PROJECT_NO)) 
	    USING(D_PROJECT_NO) 
	    WHERE PROJECT_CODE = 0 AND CANCLE_YN = 0 AND DO_DONATION.USER_ID = #{userId } ORDER BY 13 DESC) a
	</select>	
	
 	<select id="selectLikeDonation" resultMap="DonationLikeResultMap">
 		select a.*, CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT, TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE from 
       	(SELECT * FROM DONATION_LIKE LEFT OUTER JOIN 
	    (SELECT * FROM DONATION LEFT OUTER JOIN (DONATION_FILE) USING(D_PROJECT_NO)) 
	    USING(D_PROJECT_NO) 
	    WHERE PROJECT_CODE = 0 AND DONATION_LIKE.USER_ID = #{userId } ORDER BY 2 DESC) a
	</select>	
	
	<select id="selectLikeDonationLike" resultMap="DonationLikeResultMap">
	    select a.*, CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT, TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE from 
       	(SELECT * FROM DONATION_LIKE LEFT OUTER JOIN 
	    (SELECT * FROM DONATION LEFT OUTER JOIN (DONATION_FILE) USING(D_PROJECT_NO)) 
	    USING(D_PROJECT_NO) 
	    WHERE PROJECT_CODE = 0 AND DONATION_LIKE.USER_ID = #{userId } ORDER BY 13 DESC) a
	</select>
	    
	<select id="selectLikeDonationMoney" resultMap="DonationLikeResultMap">
		select a.*, CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT, TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE from 
       	(SELECT * FROM DONATION_LIKE LEFT OUTER JOIN 
	    (SELECT * FROM DONATION LEFT OUTER JOIN (DONATION_FILE) USING(D_PROJECT_NO)) 
	    USING(D_PROJECT_NO) 
	    WHERE PROJECT_CODE = 0 AND DONATION_LIKE.USER_ID = #{userId } ORDER BY 8 DESC) a
	</select>
    
	<select id="selectPropDonation" resultMap="donationResultMap">
		SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
        PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
        FROM
        (SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
       	DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
       	DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT, DONATION.PROJECT_CODE,
       	CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
       	DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
       	DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
   		DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 1 DESC)
		WHERE PROJECT_CODE = 0 AND USER_ID = #{userId }
	</select>	
    
	<select id="selectPropDonationLike" resultMap="donationResultMap">
		ELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
		PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
        FROM
        (SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
		DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
		DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT, DONATION.PROJECT_CODE,
       	CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
       	DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
       	DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
       	DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 10 DESC)
		WHERE PROJECT_CODE = 0 AND USER_ID = #{userId }
	</select>	
    
	<select id="selectPropDonationMoney" resultMap="donationResultMap">
		SELECT D_PROJECT_NO,USER_ID,SUBJECT,GOAL_MONEY,SUM_MONEY,START_DATE,FIN_DATE,PROJ_STORY,WARNING_INTRO,LIKE_COUNT,PROJECT_CODE, 
		PERCENT,LEFT_DATE,FILE_NO,FILE_VIDEO_URL,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_SUB1_NAME,FILE_SUB1_SIZE,FILE_SUB1_PATH,FILE_SUB2_NAME,FILE_SUB2_SIZE,FILE_SUB2_PATH,UPLOADTIME
        FROM
        (SELECT DONATION.D_PROJECT_NO, DONATION.USER_ID, DONATION.SUBJECT, DONATION.GOAL_MONEY,
        DONATION.SUM_MONEY, DONATION.START_DATE, DONATION.FIN_DATE, 
		DONATION.PROJ_STORY, DONATION.WARNING_INTRO, DONATION.LIKE_COUNT, DONATION.PROJECT_CODE,
       	CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT,  TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE,
       	DONATION_FILE.FILE_NO, DONATION_FILE.FILE_VIDEO_URL, DONATION_FILE.FILE_NAME, DONATION_FILE.FILE_SIZE, DONATION_FILE.FILE_PATH,
      	DONATION_FILE.FILE_SUB1_NAME, DONATION_FILE.FILE_SUB1_SIZE, DONATION_FILE.FILE_SUB1_PATH, DONATION_FILE.FILE_SUB2_NAME, DONATION_FILE.FILE_SUB2_SIZE,
       	DONATION_FILE.FILE_SUB2_PATH, DONATION_FILE.UPLOADTIME
		FROM DONATION, DONATION_FILE
		WHERE DONATION.D_PROJECT_NO = DONATION_FILE.D_PROJECT_NO ORDER BY 5 DESC)
		WHERE PROJECT_CODE = 0 AND USER_ID = #{userId }
	</select>	
 
	<select id="selectOneProject" resultMap="DonationLogResultMap" parameterType="map">
         	select a.*, CEIL((SUM_MONEY / GOAL_MONEY)*100) AS PERCENT, TRUNC(FIN_DATE) - TRUNC(SYSDATE) AS LEFT_DATE from (SELECT * FROM DO_DONATION LEFT OUTER JOIN 
    (SELECT * FROM DONATION LEFT OUTER JOIN (DONATION_FILE) USING(D_PROJECT_NO))
    USING(D_PROJECT_NO) 
    WHERE PROJECT_CODE = 0 AND CANCLE_YN = 0 AND DO_DONATION.USER_ID = #{userId } AND D_PROJECT_NO = #{projectNo}) a
	</select>
    
    <update id="updateProjectLogCancel" parameterType="DonationLog">
    	UPDATE DO_DONATION
		SET CANCLE_YN = 1
		WHERE
		DODONAT_NO = #{donateNo}
	</update>
	
	<update id="updateProject_SumMoneyMinus" parameterType="Donation">
		UPDATE DONATION	
		SET SUM_MONEY = (SUM_MONEY - #{sumMoney})
		WHERE
		D_PROJECT_NO = #{projectNo}
	</update>
    
    <select id="selectOneProjectforModifty" resultMap="donationResultMap">
    	 SELECT * FROM DONATION LEFT OUTER JOIN (DONATION_FILE) USING(D_PROJECT_NO) WHERE PROJECT_CODE = 0 AND D_PROJECT_NO = #{projectNo}
    </select>
    
   	<update id="donationPropUpdate_Porejct" parameterType="Donation">
   		UPDATE DONATION SET
		SUBJECT = #{subjectName},
		GOAL_MONEY = #{goalMoney},
		FIN_DATE = #{finDate},
		PROJ_STORY = #{projectStory},
		WARNING_INTRO = #{warningIntro}
		WHERE
		D_PROJECT_NO = #{projectNo}
   	</update>
   	
   	<update id="donationPropUpdate_File" parameterType="DonationFile">
   		UPDATE DONATION_FILE SET
		FILE_VIDEO_URL = #{videoUrl},
		FILE_NAME = #{fileName},
		FILE_SUB1_NAME = #{fileSub1Name},
		FILE_SUB2_NAME = #{fileSub2Name}
		WHERE
	D_PROJECT_NO = #{dProjectNo}
   	</update>
</mapper>