<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fundingMapper">

	<resultMap type="Funding" id="fundingResultMap">
		<id property="projectNo" column="F_PROJECT_NO"></id>
		<result property="userId" column="USER_ID"></result>
		<result property="subjectName" column="SUBJECT"></result>
		<result property="productName" column="PRODUCT_NAME"></result>
		<result property="goalMoney" column="GOAL_MONEY"></result>
		<result property="sumMoney" column="SUM_MONEY"></result>
		<result property="optionPrice" column="OPTION_PRICE"></result>
		<result property="optionLimit" column="OPTION_LIMIT"></result>
		<result property="startDate" column="START_DATE"></result>
		<result property="finDate" column="FIN_DATE"></result>
		<result property="projectStory" column="PROJ_STORY"></result>
		<result property="productContent" column="PRODUCT_CONT"></result>
		<result property="warningIntro" column="WARNING_INTRO"></result>
		<result property="likeCount" column="LIKE_COUNT"></result>
		<result property="hitsCount" column="HITS_COUNT"></result>
		<result property="projectCode" column="PROJECT_CODE"></result>
		<result property="deleiveryDate" column="DELIVERY_DATE"></result>
	</resultMap>

	<resultMap type="FundingFile" id="fundingFileResultMap">
		<id property="fileNo" column="FILE_NO"></id>
		<result property="videoUrl" column="FILE_VIDEO_URL"></result>
		<result property="fileMainName" column="FILE_MAIN_NAME"></result>
		<result property="fileMainSize" column="FILE_MAIN_SIZE"></result>
		<result property="fileMainPath" column="FILE_MAIN_PATH"></result>
		<result property="fileSub1Name" column="FILE_SUB1_NAME"></result>
		<result property="fileSub1Size" column="FILE_SUB1_SIZE"></result>
		<result property="fileSub1Path" column="FILE_SUB1_PATH"></result>
		<result property="fileSub2Name" column="FILE_SUB2_NAME"></result>
		<result property="fileSub2Size" column="FILE_SUB2_SIZE"></result>
		<result property="fileSub2Path" column="FILE_SUB2_PATH"></result>
		<result property="uploadTime" column="UPLOAD_TIME"></result>
		<result property="projectNo" column="F_PROJECT_NO"></result>
	</resultMap>
	
	<resultMap type="FundingLog" id="FundingLogResultMap">
		<id property="doFundNo" column="DOFUND_NO"></id>
		<result property="userId" column="USER_ID"></result>
		<result property="fundingPoint" column="FUNDING_POINT"></result>
		<result property="qunatity" column="QUNATITY"></result>
		<result property="fundDate" column="FUND_DATE"></result>
		<result property="cancleYn" column="CANCLE_YN"></result>
		<result property="projectNo" column="F_PROJECT_NO2"></result>
		<result property="receiverAddr" column="RECEIVER_ADDR"></result>
		<result property="receiverName" column="RECEIVER"></result>
		<result property="receiverPhone" column="RECEIVER_PHONE"></result>
	</resultMap>
	
	<resultMap type="FundingReply" id="FundingReplyResultMap">
		<id property="replyNo" column="COMM_NO"></id>
		<result property="no" column="F_PROJECT_NO"></result>
		<result property="userId" column="USER_ID"></result>
		<result property="nick" column="NICK_NAME"></result>
		<result property="contents" column="COMM_CONTENTS"></result>
		<result property="replyType" column="BOARD_TYPE"></result>
		<result property="enrollDate" column="ENROLL_DATE"></result>
	</resultMap>

	<insert id="insertFunding" parameterType="Funding">
		INSERT INTO
		FUNDING_PROJECT
		VALUES(SEQ_FUNDINGNO.NEXTVAL,#{userId},#{subjectName},#{productName},#{goalMoney},DEFAULT,#{optionPrice},#{optionLimit},SYSDATE,
		#{finDate},#{projectStory},#{productContent},#{warningIntro},DEFAULT,DEFAULT,0,#{deleiveryDate})
	</insert>
	<insert id="insertFundingFile" parameterType="FundingFile">
		INSERT INTO
		FUNDING_FILE
		VALUES(SEQ_FUNDINFILENO.NEXTVAL,#{videoUrl},#{fileMainName},NULL,'AAA',
		#{fileSub1Name},NULL,'BBB',#{fileSub2Name},NULL,'CCC',SYSTIMESTAMP,SEQ_FUNDINGNO.CURRVAL)
	</insert>
	<insert id="insertFundingLog" parameterType="FundingLog">
		INSERT INTO
		DO_FUNDING
		VALUES(SEQ_FUNDINGLOGNO.NEXTVAL,#{userId},#{fundingPoint},#{qunatity},SYSDATE,DEFAULT,#{projectNo}
		,#{receiverAddr},#{receiverName},#{receiverPhone})
	</insert>
	
	
	<select id="selectOne" resultMap="fundingResultMap">
		SELECT * FROM FUNDING_PROJECT WHERE F_PROJECT_NO = #{projectNo}
	</select>
	<select id="selectOneFile" resultMap="fundingFileResultMap">
		SELECT * FROM FUNDING_FILE WHERE F_PROJECT_NO = #{projectNo}
	</select>
	<select id="selectFundingList" resultMap="fundingResultMap">
		SELECT * FROM FUNDING_PROJECT
		ORDER BY F_PROJECT_NO DESC
	</select>
		<select id="selectFundingFileList" resultMap="fundingFileResultMap">
		SELECT * FROM FUNDING_FILE
		ORDER BY F_PROJECT_NO DESC
	</select>

	<update id="updateFundingAddMoney" parameterType="Funding"> 
		UPDATE FUNDING_PROJECT SET SUM_MONEY = (SUM_MONEY + #{sumMoney})
		WHERE
		F_PROJECT_NO = #{projectNo}
	</update> 
	<update id="updateCount" parameterType="Funding">
		UPDATE FUNDING_PROJECT SET HITS_COUNT = HITS_COUNT + 1
		WHERE
		F_PROJECT_NO = #{projectNo }
	</update>
		
		
	
	<!-- 댓글 관련 insertReply -->
	<insert id="insertReply">
		INSERT INTO FUNDING_COMMENTS VALUES(SEQ_FUNDINGREPLYNO.NEXTVAL, #{no }, #{userId },'닉네임', #{contents }, '펀딩상세', SYSDATE)
	</insert>
	

	<select id="selectReplyList" resultMap="FundingReplyResultMap">
		SELECT * FROM FUNDING_COMMENTS
		WHERE
		F_PROJECT_NO  = #{projectNo }
		ORDER BY COMM_NO DESC
	</select>

	<update id="updateReply"> UPDATE FUNDING_COMMENTS SET COMM_CONTENTS = #{contents }
		WHERE F_PROJECT_NO = #{no } AND COMM_NO = #{replyNo }
	</update>

	<delete id="deleteReply"> DELETE FUNDING_COMMENTS WHERE F_PROJECT_NO =
		#{no } AND COMM_NO = #{replyNo }
	</delete>

	
		
		
		
		
		
		
		
		<!-- 
		
		<delete id="deleteMember" parameterType="Member"> DELETE 
		MEMBER WHERE USER_ID = #{userId } </delete> 
		
		 -->
		
		
		
			<!--나혜님꺼 -->
	<select id="selectAllList" resultMap="fundingResultMap">
		SELECT * FROM FUNDING_PROJECT
		ORDER BY F_PROJECT_NO DESC
	</select>
	
	  <select id="selectFundingListCount" resultType="_int">
      SELECT COUNT(*) FROM FUNDING
    </select>
</mapper>