<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="historyMapper">
	<resultMap type="History" id="historyResultMap">
 		<id property="siteNo" column="SITE_NO"/>
		<result property="siteName" column="SITE_NAME"/>
		<result property="siteType" column="SITE_TYPE"/>
		<result property="siteContents" column="SITE_CONTENTS"/>
		<result property="latitude" column="LATITUDE"/>
		<result property="longitude" column="LONGITUDE"/>
		<result property="siteAddr" column="SITE_ADDR"/>
		<result property="hCreateDate" column="H_CREATE_DATE"/>
		<result property="hUpdateDate" column="H_UPDATE_DATE"/>
		<result property="hStatus" column="H_STATUS"/>
		<result property="fileNo" column="FILE_NO"/> 
		<result property="originarFilename" column="ORIGINAR_FILENAME"/> 
		<result property="renameFilename" column="RENAME_FILENAME"/> 
		<result property="uploadTime" column="UPLOAD_TIME"/> 
	</resultMap>


   <select id="adminSelectAllList" resultMap="historyResultMap">
           SELECT * FROM HISTORY ORDER BY SITE_NO DESC
    </select>


   <select id="selectHistoryListCount" resultType="_int">
      SELECT COUNT(*) FROM HISTORY
    </select>
    
    <select id="selectOneHistory" resultMap="historyResultMap">
    	SELECT * FROM HISTORY WHERE SITE_NO = #{siteNo} AND H_STATUS = 'Y'
    </select>
    
    <insert id="inserHistory" parameterType="History">
    	INSERT INTO HISTORY
    	VALUES(SEQ_HISTORY.NEXTVAL, #{siteName}, #{siteType}, #{siteContents}, #{latitude}, #{longitude}, #{siteAddr}, DEFAULT, DEFAULT, DEFAULT, SEQ_HISTORY_FILE.NEXTVAL, #{originarFilename}, #{renameFilename}, #{uploadTime})
    </insert>
    
    <update id="updateHistory" >
    	UPDATE HISTORY SET SITE_NAME= #{siteName}, SITE_TYPE = #{siteType}, SITE_CONTENTS= #{siteContents}, LATITUDE = #{latitude}, LONGITUDE = #{longitude} ,SITE_ADDR = #{siteAddr}, H_UPDATE_DATE = SYSDATE, ORIGINAR_FILENAME = #{originarFilename}, RENAME_FILENAME = #{renameFilename}, UPLOAD_TIME = SYSDATE WHERE SITE_NO = #{siteNo}
    </update>
    
    <update id="deleteHistory" parameterType="_int">
    	UPDATE HISTORY
    	SET H_STATUS = 'N' WHERE SITE_NO = #{siteNo}
    </update>
</mapper>