<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="independenceMapper">
	<resultMap type="Independence" id="independenceResultMap">
		<id property="independenceNo" column="MNG_NO"/>
		<result property="nameKo" column="NAME_KO"/>
		<result property="nameCh" column="NAME_CH"/>
		<result property="birthday" column="BIRTHDAY"/>
		<result property="lastday" column="LASTDAY"/>
		<result property="sex" column="SEX"/>
		<result property="registerLarge" column="REGISTER_LARGE_DIV"/>
		<result property="registerMid" column="REGISTER_MID_DIV"/>
		<result property="prizedYear" column="PRIZED_YEAR"/>
		<result property="prizeClass" column="PRIZED_CLASS"/>
		<result property="activityLine" column="ACTIVITY_LINE"/>
		<result property="achievement" column="ACHIEVEMENT_KO"/>
	</resultMap>


	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM INDEPENDENCE
	</select>
	<select id="selectAllList" resultMap="independenceResultMap">
		<!-- SELECT * FROM INDEPENDENCE  WHERE MNG_NO &lt;= 100 ORDER BY MNG_NO ASC -->
		SELECT * FROM INDEPENDENCE ORDER BY MNG_NO ASC
	</select>
	
	<select id="selectOne" resultMap="independenceResultMap">
		SELECT * FROM INDEPENDENCE WHERE MNG_NO = #{independenceNo }
	</select>
	
	<select id="selectSearchList" resultMap="independenceResultMap">
		SELECT * FROM INDEPENDENCE 
		<if test="searchCondition.toString() == 'nameKo'">
			WHERE NAME_KO LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'birth'">
			WHERE BIRTHDAY LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'activityLine'">
			WHERE ACTIVITY_LINE LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'honoredYear'">
			WHERE PRIZED_YEAR LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'honoredClass'">
			WHERE PRIZED_CLASS LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'home'">
			WHERE REGISTER_LARGE_DIV LIKE '%' || #{searchValue } || '%' OR REGISTER_MID_DIV '%' || #{searchValue } || '%'
		</if>
		ORDER BY MNG_NO ASC
	</select>
</mapper>