<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pointMapper">
	<resultMap type="Point" id="pointResultMap">
		<id property="pntListNo" column="PNTLIST_NO"/>
		<result property="eventNo" column="EVENT_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="oppUserId" column="OPP_USER_ID"/>
		<result property="varTime" column="VAR_TIME"/>
		<result property="eventCode" column="EVENT_CODE"/>
		<result property="varType" column="VAR_TYPE"/>
		<result property="varAmount" column="VAR_AMOUNT"/>
		<result property="buyerEmail" column="BUYER_EMAIL"/>
		<result property="receiptUrl" column="RECEIPT_URL"/>
	</resultMap>
	<resultMap type="PointAndProject" id="pointProjectResultMap">
		<id property="pntListNo" column="PNTLIST_NO"/>
		<result property="eventNo" column="EVENT_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="oppUserId" column="OPP_USER_ID"/>
		<result property="varTime" column="VAR_TIME"/>
		<result property="eventCode" column="EVENT_CODE"/>
		<result property="varType" column="VAR_TYPE"/>
		<result property="varAmount" column="VAR_AMOUNT"/>
		<result property="buyerEmail" column="BUYER_EMAIL"/>
		<result property="receiptUrl" column="RECEIPT_URL"/>
		<result property="subject" column="SUBJECT"/>
		<result property="projectNo" column="PROJEC_NO"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="money" column="MONEY"/>
		<result property="fdate" column="FDATE"/>
	</resultMap>
	<resultMap type="MyPoint" id="myPointResultMap">
		<id property="id" column="ID"/>
		<result property="total" column="TOTAL"/>
		<result property="reserved" column="RESERVED"/>
	</resultMap>
	
	<select id="selectPointList" parameterType="string" resultMap="pointProjectResultMap">
		WITH PANDD AS ((SELECT PNTLIST_NO, EVENT_NO, USER_ID, OPP_USER_ID, VAR_TIME, EVENT_CODE, VAR_TYPE, VAR_AMOUNT, BUYER_EMAIL, RECEIPT_URL, SUBJECT, F_PROJECT_NO AS PROJECT_NO, MONEY, FDATE FROM ((SELECT * FROM POINT LEFT OUTER JOIN (SELECT DOFUND_NO, F_PROJECT_NO, SUBJECT, (SUM_MONEY-GOAL_MONEY) AS MONEY, (SYSDATE-FIN_DATE) AS FDATE FROM DO_FUNDING A LEFT OUTER JOIN FUNDING_PROJECT B ON(F_PROJECT_NO = F_PROJECT_NO2))
		ON(EVENT_NO = DOFUND_NO) WHERE EVENT_CODE = 1) UNION (SELECT * FROM POINT LEFT OUTER JOIN (SELECT DODONAT_NO, D_PROJECT_NO, SUBJECT, (SUM_MONEY-GOAL_MONEY) AS MONEY, (SYSDATE-FIN_DATE) AS FDATE FROM DO_DONATION A LEFT OUTER JOIN DONATION B USING(D_PROJECT_NO))
		ON(EVENT_NO = DODONAT_NO) WHERE EVENT_CODE = 2))) UNION (SELECT  PNTLIST_NO, NULL AS EVENT_NO, USER_ID, OPP_USER_ID, VAR_TIME, EVENT_CODE, VAR_TYPE, VAR_AMOUNT, BUYER_EMAIL, RECEIPT_URL, NULL AS SUBJECT, NULL AS PROJECT_NO, NULL AS MONEY, NULL AS FDATE FROM POINT WHERE EVENT_CODE = 0)
		UNION (SELECT A.*, NULL AS SUBJECT, NULL AS PROJECT_NO, NULL AS MONEY, NULL AS FDATE FROM POINT A WHERE NOT EVENT_CODE IN(0, 1, 2)))
		SELECT PNTLIST_NO, EVENT_NO, A.USER_ID, OPP_USER_ID, VAR_TIME, EVENT_CODE, VAR_TYPE, VAR_AMOUNT, BUYER_EMAIL, RECEIPT_URL, SUBJECT, PROJECT_NO, NICKNAME, MONEY, FDATE FROM PANDD A LEFT OUTER JOIN (SELECT USER_ID, NICKNAME FROM MEMBER)B ON(A.OPP_USER_ID = B.USER_ID) WHERE A.USER_ID=#{userId} ORDER BY VAR_TIME DESC
	</select>
	<select id="selectListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM POINT WHERE USER_ID = #{userId}
	</select>
	<select id="selectSearchList" resultMap="pointProjectResultMap">		
		WITH PANDD AS ((SELECT PNTLIST_NO, EVENT_NO, USER_ID, OPP_USER_ID, VAR_TIME, EVENT_CODE, VAR_TYPE, VAR_AMOUNT, BUYER_EMAIL, RECEIPT_URL, SUBJECT, F_PROJECT_NO AS PROJECT_NO, MONEY, FDATE FROM ((SELECT * FROM POINT LEFT OUTER JOIN (SELECT DOFUND_NO, F_PROJECT_NO, SUBJECT, (SUM_MONEY-GOAL_MONEY) AS MONEY, (SYSDATE-FIN_DATE) AS FDATE FROM DO_FUNDING A LEFT OUTER JOIN FUNDING_PROJECT B ON(F_PROJECT_NO = F_PROJECT_NO2))
		ON(EVENT_NO = DOFUND_NO) WHERE EVENT_CODE = 1) UNION (SELECT * FROM POINT LEFT OUTER JOIN (SELECT DODONAT_NO, D_PROJECT_NO, SUBJECT, (SUM_MONEY-GOAL_MONEY) AS MONEY, (SYSDATE-FIN_DATE) AS FDATE FROM DO_DONATION A LEFT OUTER JOIN DONATION B USING(D_PROJECT_NO))
		ON(EVENT_NO = DODONAT_NO) WHERE EVENT_CODE = 2))) UNION (SELECT  PNTLIST_NO, NULL AS EVENT_NO, USER_ID, OPP_USER_ID, VAR_TIME, EVENT_CODE, VAR_TYPE, VAR_AMOUNT, BUYER_EMAIL, RECEIPT_URL, NULL AS SUBJECT, NULL AS PROJECT_NO, NULL AS MONEY, NULL AS FDATE FROM POINT WHERE EVENT_CODE = 0)
		UNION (SELECT A.*, NULL AS SUBJECT, NULL AS PROJECT_NO, NULL AS MONEY, NULL AS FDATE FROM POINT A WHERE NOT EVENT_CODE IN(0, 1, 2)))
		SELECT PNTLIST_NO, EVENT_NO, A.USER_ID, OPP_USER_ID, VAR_TIME, EVENT_CODE, VAR_TYPE, VAR_AMOUNT, BUYER_EMAIL, RECEIPT_URL, SUBJECT, PROJECT_NO, NICKNAME, MONEY, FDATE FROM PANDD A LEFT OUTER JOIN (SELECT USER_ID, NICKNAME FROM MEMBER)B ON(A.OPP_USER_ID = B.USER_ID)
		WHERE A.USER_ID=#{userId} AND EVENT_CODE = #{searchCondition} ORDER BY VAR_TIME DESC
	</select>
	<select id="selectSearchCount" resultType="_int">
		WITH PANDD AS ((SELECT PNTLIST_NO, EVENT_NO, USER_ID, OPP_USER_ID, VAR_TIME, EVENT_CODE, VAR_TYPE, VAR_AMOUNT, BUYER_EMAIL, RECEIPT_URL, SUBJECT, F_PROJECT_NO AS PROJECT_NO FROM ((SELECT * FROM POINT LEFT OUTER JOIN (SELECT DOFUND_NO, F_PROJECT_NO, SUBJECT FROM DO_FUNDING A LEFT OUTER JOIN FUNDING_PROJECT B ON(F_PROJECT_NO = F_PROJECT_NO2))
		ON(EVENT_NO = DOFUND_NO) WHERE EVENT_CODE = 1) UNION (SELECT * FROM POINT LEFT OUTER JOIN (SELECT DODONAT_NO, D_PROJECT_NO, SUBJECT FROM DO_DONATION A LEFT OUTER JOIN DONATION B USING(D_PROJECT_NO))
		ON(EVENT_NO = DODONAT_NO) WHERE EVENT_CODE = 2))) UNION (SELECT  PNTLIST_NO, NULL AS EVENT_NO, USER_ID, OPP_USER_ID, VAR_TIME, EVENT_CODE, VAR_TYPE, VAR_AMOUNT, BUYER_EMAIL, RECEIPT_URL, NULL AS SUBJECT, NULL AS PROJECT_NO FROM POINT WHERE EVENT_CODE = 0)
		UNION (SELECT A.*, NULL AS SUBJECT, NULL AS PROJECT_NO FROM POINT A WHERE NOT EVENT_CODE IN(0, 1, 2)))
		SELECT COUNT(*) FROM PANDD WHERE USER_ID = #{userId} AND EVENT_CODE = #{searchCondition}
	</select>
	<select id="selectMyPoint" resultMap="myPointResultMap">
		<![CDATA[
		SELECT * FROM (SELECT #{userId} AS ID, SUM(VAR_AMOUNT) AS TOTAL FROM ((SELECT PNTLIST_NO, USER_ID, VAR_AMOUNT, EVENT_CODE FROM POINT JOIN (SELECT * FROM DO_FUNDING JOIN (SELECT * FROM FUNDING_PROJECT WHERE NOT(GOAL_MONEY > SUM_MONEY AND FIN_DATE < SYSDATE) AND PROJECT_CODE = 0) ON(F_PROJECT_NO2 = F_PROJECT_NO))
		ON(EVENT_NO = DOFUND_NO) WHERE EVENT_CODE = 1) UNION (SELECT PNTLIST_NO, USER_ID, VAR_AMOUNT, EVENT_CODE FROM POINT JOIN (SELECT * FROM DO_DONATION JOIN (SELECT * FROM DONATION WHERE NOT(GOAL_MONEY > SUM_MONEY AND FIN_DATE < SYSDATE) AND PROJECT_CODE = 0) USING(D_PROJECT_NO))
		ON(EVENT_NO = DODONAT_NO) WHERE EVENT_CODE = 2) UNION (SELECT PNTLIST_NO, USER_ID, VAR_AMOUNT, EVENT_CODE FROM POINT WHERE NOT EVENT_CODE IN(1,2))) WHERE USER_ID = #{userId})
		JOIN
		(SELECT #{userId} AS ID, SUM(VAR_AMOUNT) AS RESERVED FROM ((SELECT PNTLIST_NO, USER_ID, VAR_AMOUNT, EVENT_CODE FROM POINT JOIN (SELECT * FROM DO_FUNDING JOIN (SELECT * FROM FUNDING_PROJECT WHERE FIN_DATE > SYSDATE AND PROJECT_CODE = 0) ON(F_PROJECT_NO2 = F_PROJECT_NO))
		ON(EVENT_NO = DOFUND_NO) WHERE EVENT_CODE = 1) UNION (SELECT PNTLIST_NO, USER_ID, VAR_AMOUNT, EVENT_CODE FROM POINT JOIN (SELECT * FROM DO_DONATION JOIN (SELECT * FROM DONATION WHERE FIN_DATE > SYSDATE AND PROJECT_CODE = 0) USING(D_PROJECT_NO))
		ON(EVENT_NO = DODONAT_NO) WHERE EVENT_CODE = 2)) WHERE USER_ID = #{userId})
		USING(ID)
		]]>
	</select>
	
	<insert id="insertCharge" parameterType="Point">
		INSERT INTO POINT VALUES(CONCAT(TO_NUMBER(TO_CHAR(SYSDATE,'YYYYMMDD')), SEQ_POINT.NEXTVAL), #{eventNoCharge}, #{userId}, #{oppUserId}, LOCALTIMESTAMP, #{eventCode}, #{varType}, #{varAmount}, #{buyerEmail}, #{receiptUrl})
	</insert>
	<insert id="insertPoint" parameterType="Point">
		<selectKey keyProperty="eventNo" resultType="int" order="BEFORE">
			<if test="eventCode == 1">
				SELECT MAX(DOFUND_NO) FROM DO_FUNDING
			</if>
			<if test="eventCode == 2">
				SELECT MAX(DODONAT_NO) FROM DO_DONATION
			</if>
			<if test="eventCode == 3">
				SELECT MAX(VISIT_NO) FROM VISIT
			</if>
			<if test="eventCode == 4">
				SELECT MAX(MSG_NO) FROM MESSAGE
			</if>
		</selectKey>
		INSERT INTO POINT VALUES(CONCAT(TO_NUMBER(TO_CHAR(SYSDATE,'YYYYMMDD')), SEQ_POINT.NEXTVAL), #{eventNo}, #{userId}, #{oppUserId}, LOCALTIMESTAMP, #{eventCode}, #{varType}, #{varAmount}, #{buyerEmail}, #{receiptUrl})
	</insert>
	<insert id="insertFundCancelPoint" parameterType="_int">
		INSERT ALL
		INTO POINT VALUES(CONCAT(TO_NUMBER(TO_CHAR(SYSDATE,'YYYYMMDD')), SEQ_POINT.NEXTVAL), EVENT_NO, USER_ID, '', LOCALTIMESTAMP, 1, 0, VAR_AMOUNT, '', '')
		SELECT DOFUND_NO AS EVENT_NO, USER_ID, FUNDING_POINT AS VAR_AMOUNT FROM DO_FUNDING WHERE DOFUND_NO = #{doFundNo}
	</insert>
	<insert id="insertDonateCancelPoint" parameterType="_int">
		INSERT ALL
		INTO POINT VALUES(CONCAT(TO_NUMBER(TO_CHAR(SYSDATE,'YYYYMMDD')), SEQ_POINT.NEXTVAL), EVENT_NO, USER_ID, '', LOCALTIMESTAMP, 1, 0, VAR_AMOUNT, '', '')
		SELECT DODONAT_NO AS EVENT_NO, USER_ID, DONATION_POINT AS VAR_AMOUNT FROM DO_DONATION WHERE DODONAT_NO = #{donateNo}
	</insert>



</mapper>