@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300&display=swap');

body{
	font-family: 'Noto Serif KR', serif;
}

div, article, section {
    border: 1px solid black;
    box-sizing: border-box;
    --font-family: 'Noto Serif KR', serif;
    color: #464646;
}

textarea {
	resize: none;
	border: none;
}

#total {
	--display: table-cell;
	--bertical-align: middle;
	width: 500px;
}

#table-title {
	font-size: 25px;
	font-weight: bold;
	color: #EB5C01;
}

#point-present {
	text-align: right;
}

#show-present:hover {
	color: #EB5C01;
	cursor: pointer;
}

#present-window {
	display: none;
}


#point-num {
	appearance: none;
	width: 100px;
}

#point-num::-webkit-outer-spin-button,
#point-num::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

#show-present{

}