@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300&display=swap');

body{
	font-family: 'Noto Serif KR', serif;
}

div, article, section {
    --border: 1px solid black;
    box-sizing: border-box;
    font-family: 'Noto Serif KR', serif;
    color: #464646;
}

.blank {
	width: 100%;
	height: 81px;
}

.wrapper-all {
	height: auto;
	padding: 0;
}

.wrapper-left {
	float: left;
	width: 20%;
	height: auto;
	margin-top: 50px;
	text-align: center;
}

#menubar {
	padding: 15% 3%;
}

.wrapper-right {
	float: left;
	width: 80%;
	height: auto;
	padding: 0% 10% 3% 10%;
}

#table-upper, #table-around, #search {
	width: 900px;
	max-width: calc(100% - 1em);
	margin: 1em auto;
	overflow: hidden;
}

#table-around {
	border: 1px solid #327a81;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 0px;
}

table {
	width: 100%;
	text-align: center;
}

table tr {
	border: 1px solid #d9e4e8;
}

table th {
	background-color: #F5F5F5;
	color: #327a81;
	padding: 15px;
	align: center;
	font-weight: 300;
}

table td {
	color: #464646;
  	padding: 10px 0;
  	vertical-align: middle;
}
table a {
	color: #464646;
	font-size: 15px;
}

table a:hover {
	color: #EB5C01;
	text-decoration: none;
	font-size: 16px;
}

.td-small {
	font-size: 13px;
}

#table-upper {
	padding: 0px;
}

#title-area {
	padding-left: 30px;
}

#table-title {
	font-size: 25px;
	font-weight: bold;
}

/*전체, 선물, 관리자*/
.sort-div {
	height: 31px;
}

#sort-box {
	--margin-left: 89%;
	padding-right: 10px;
	width: 100px;
	--align: right;
}

#sort-box:focus {
	box-shadow: 0 0 0 0.2rem #ffcba8;
	border-color: #f676aa;
}

/*테이블 div*/
#message-table {
	padding: 10px 0px;
}

.wrapper-left>ul
:link {
	text-decoration: none;
}

button[type=submit] {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* 페이징 */
#page-td {
	font-size: 23px;
	border-top:hidden;
}
#page-td a {
	display: inline-block;
	width: 30px;
	margin: 0px;
	border-radius: 3px;
}
#page-td a:link {
	font-size: 16px;
}
#page-td a:hover {
	background-color: #ffe1ce;
}
#page-td font {
	font-size: 16px;
	display: inline-block;
	width: 30px;
	margin: 0px;
	border-radius: 3px;
}

/* 검색 */
#search {
	--margin: 10px 200px;
	width: 300px;
	padding: 0px;
	align: center;
}

#search-window {
	width: 100px;
	--display: inline-block;
	float: left;
}
#search-window:focus {
	--outline-color: 2px solid #EB5C01;
	box-shadow: 0 0 0 0.2rem #ffcba8;
}

#searchCondition {
	width: 90px;
	float: left;
	margin: 0px 10px;	
}
#searchCondition:focus {
	box-shadow: 0 0 0 0.2rem #ffcba8;
	border-color: #f676aa;
}

#search-btn {
	background-color: #EB5C01;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	color: white;
	width: 60px;
	height: 31px;
	float: left;
	margin: 0px 10px;
}

#modal {
	position: absolute;
	width: 100%;
	height: 150%;
	background: rgba(0, 0, 0, 0.6);
	top:0;
	left: 0;
	display: none;
}

#modal_content{
  width:500px;
  height:500px;
  background:#fff;
  border-radius:10px;
  position:relative;
  top:30%;
  left:50%;
  margin-top:-200px;
  margin-left:-200px;
  text-align:center;
  box-sizing:border-box;
  padding:10px 0px;
  line-height:23px;
  cursor:pointer;
}

#modal #total {
	width: 500px;
	height: 500px;
	padding: 0px;
}

#modal .write-upper {
	padding: 5px 10px;
	text-align: left;
}
#modal .write-middle {
	padding: 5px 10px;
}
#modal .write-lower {
	padding: 10px 10px;
}
#modal td, #modal th {
	padding: 5px;
}
#modal #btnTr {
	display: none;
}


/* #qna-msg {
	position: fixed;
	bottom: 1%;
	right: 1%;
	z-index: 999;
} */