@charset "UTF-8";
body{
    width: auto;
    height: 600px;
    margin : auto;
}

form{
	background-image: url(/resources/img/member/member_background.jpg);
   	background-size:600px;
 	height: 600px;
    width: auto;
}
header{
    width: auto;
    height: 100px;
}

.contents{
	margin:auto;
}

#h2{
	padding-top: 100px;
	font-weight: 600;
	margin:auto;
    color: white;
}

.findId{
    height: 100px;
    text-align: center;
    margin: 0 600px;
}

#start{
    color: white;
    font-size: 18px;
    font-weight: 530;
    padding-top: 15px;
    float: left;
}

#userId{
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 0 10px;
    float: left;
}
#end{
    color: white;
    font-size: 18px;
    font-weight: 530;
    padding-top: 15px;
    float: left;
}

.btn{
    padding-top: 70px;
    
}

#loginBtn{
    height: 35px;
    width: 180px;
    border-radius: 5px;
    margin-top:20px;
    background: rgb(174, 174, 174);
   	font-weight: 550;
    color: white;
    border: none;
}

#loginBtn:active{
    background-color: rgb(100, 100, 100);
    border: none;
}