@charset "UTF-8";

body{
    background-size: cover;
    width: auto;
    height: 1100px;
   	font-family: 'Noto Serif KR', serif;
}

header{
    width: auto;
    height: 100px;
}
form{
	font-family: 'Noto Serif KR', serif;
	height: 700px;
	background-image: url(/resources/img/member/member_background.jpg);
	background-size:800px;
}

.frame{
	padding-top:170px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.preload * {
  transition: none !important;

}

.preload login--container{
    height: 300px;
    padding-top: 250px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    height: 40px;
    border: none; 
    border-radius: 5px;
    margin-bottom: 30px;
    color:#07051b;
    font-size: 15px;
}

input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
  box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.3);
} 

#userPw, #userId{
	padding-left: 5px;
}

button {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(174, 174, 174);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 15px;
    font-weight: 600;
    height: 38px;
    width: 120px;
}

button:hover{
	background-color: rgb(130, 130, 130); 	
}

button:active{
	background-color: rgb(100, 100, 100);	
}

.login--login-submit {
  float: right;
  border-radius: 5px;
}

.login--container {
    width: 600px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}

.login--toggle-container {
    position: absolute;
    background-image: url(/resources/img/member/background.png);
    right: 0;
    line-height: 2.5em;
    width: 50%;
    height: 100%;
    cursor: pointer;
    transform: perspective(1000px) translateZ(1px);
    transform-origin: 0% 0%;
    transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
    backface-visibility: hidden;
}

.login--toggle-container .js-toggle-login {
    padding-top: 50px;
    font-size: 35px;
    font-weight: 600;
    color: aliceblue;
}

.login--active .login--toggle-container {
  transform: perspective(1000px) rotateY(180deg);
  background-color: none;
}

.login--username-container, .login--password-container {
  float: left;
  background-image: url(/resources/img/member/background.png);
  width: 50%;
  height: 120px;
  padding: 0.5em;
}

.login--username-container {
    transform-origin: 100% 0%;
    transform: perspective(1000px) rotateY(180deg);
    transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
    background-color: #07051b;
    backface-visibility: hidden;
}

.login--active .login--username-container {
    transform: perspective(1000px) rotateY(0deg);
}


/*회원가입*/

.content2{
	width: 600px;
    height: 200px;
    padding-top : 60px;
    padding-left: 120px;
    margin: 0 auto;
  	top: 25%;
    
}
#join{
    width: 370px;
    height: 80px;
}

#coment{
    padding-right: 13px;
    float: left;
    color: white;
    font-weight: 600;
}

#joinGo{
    color: white;
    font-size: 18px;
    font-weight: 700;
    color:  rgb(174, 174, 174); 
}

#joinGo:hover{
    color: rgb(235, 92, 1);
}

.search{
    height: 50px;
    width: 350px;
    padding-left: 50px;  
    padding-top: 10px;
/*     left: 41%; */
}

#link{
    text-decoration: none; 
    hight:100%;
    width:100%;
}

#idSearch{
    text-align: center;
    float: left;
    padding-right: 50px;
    color: aliceblue;
    font-weight: 700;
}

#idSearch:hover{
    color: rgb(235, 92, 1);
}

#or{
    text-align: center;
    float: left;
    padding-right: 10px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}

#pwSearch{
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}
#pwSearch:hover{
    color: rgb(235, 92, 1);
}



