<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 만약에 null로 데이터가 전달되었으면 빈칸이 아닌 "NULL"로 인식하도록 설정 -->
	</settings>

	<typeAliases>
		<typeAlias type="com.ssaragibyul.member.domain.Member" alias="Member"/>
		<typeAlias type="com.ssaragibyul.message.domain.Message" alias="Message"/>
		<typeAlias type="com.ssaragibyul.message.domain.MessageAndNick" alias="MessageAndNick"/>
		<typeAlias type="com.ssaragibyul.independence.domain.Independence" alias="Independence"/>
		<typeAlias type="com.ssaragibyul.funding.domain.Funding" alias="Funding"/>
		<typeAlias type="com.ssaragibyul.funding.domain.FundingFile" alias="FundingFile"/>
		<typeAlias type="com.ssaragibyul.funding.domain.FundingLog" alias="FundingLog"/>
		<typeAlias type="com.ssaragibyul.visit.domain.Visit" alias="Visit"/>
		<typeAlias type="com.ssaragibyul.point.domain.Point" alias="Point"/>
		<typeAlias type="com.ssaragibyul.point.domain.PointAndProject" alias="PointAndProject"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"></mapper>
		<mapper resource="mappers/message-mapper.xml"></mapper>
		<mapper resource="mappers/independence-mapper.xml"></mapper>
		<mapper resource="mappers/funding-mapper.xml"></mapper>
		<mapper resource="mappers/visit-mapper.xml"></mapper>
		<mapper resource="mappers/point-mapper.xml"></mapper>
		
	</mappers>
</configuration>