<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 만약에 null로 데이터가 전달되었으면 빈칸이 아닌 "NULL"로 인식하도록 설정 -->
	</settings>

	<typeAliases>
		<typeAlias type="com.iei.spring.member.domain.Member" alias="Member"/>
		<typeAlias type="com.iei.spring.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="com.iei.spring.board.domain.Board" alias="Board"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"></mapper>
		<mapper resource="mappers/notice-mapper.xml"></mapper>
		<mapper resource="mappers/board-mapper.xml"></mapper>
	</mappers>
</configuration>