/*      div, article, section {
    border: 1px solid black;
    box-sizing: border-box;
    font-family: 'Noto Serif KR', serif;
    color: #464646;
}   */    
body * {
  box-sizing: border-box;
  text-align: center;
}
.wrapper{
	margin-top:100em;
	padding-top:10em;
}
.container{
	margin-top:2em;
	padding-top:2em;
}
#searchWrapper{
	margin-left:2em;
	margin-bottom:0.5em;
	float:left;
}
textarea {
	width: 100%;
	box-sizing: border-box;
	border: solid 2px #404040;
	border-radius: 5px;
	font-size: 20px;
	resize: both;
}
.grid {
	position: relative;
	margin: 0 auto;
}

.js .grid::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: #252323 url(../img/loading.svg) no-repeat 50% 75px;
	background-size: 60px auto;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.sideBar{
	font-size: 15px;
	font-weight: 200;
	float:left;
	padding-top:25em;
	color: #2b686e;
	text-align: center;
}

/* 디테일 부분-------------------------------------------------------- */


/*해더 부분*/
header{
    width: auto;
    height: 100px;
    padding-top: 70px;
    margin : auto;
}

.background{
    height:1000px;
    margin : auto;
    padding-top: 80px;
    background: linear-gradient(rgb(70, 70, 70) 32%, #fff 10% );
}

.title{
    position: relative;
    padding-top: 60px;
    font-size: 25px;
}

#title{
	font-weight: 600;
    color: white;
    font-size: 25px;
}
#siteName{
	float:left;
	padding-left:1em;
}
#reeting{
	font-weight: 600;
    color: white;
    padding-top: 10px;
}
.contents{
	position: relative;
    height: auto;
    padding-top: 5em;
}

.rightCon{
    border: 3px solid black;
    top: 1em;
    width: 100%;
    height: 19em;
    float: right;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgba(108, 108, 108, 0.5);
    margin-bottom: 10em;
}


/*오른쪽 내용*/

.r-title{
    margin: 0;
    font-weight: 300;
    height: auto;
}
.r-title #title{
	color: #464646;
    float: left;
	height: 100%;
	width: 100%;
	padding-left:0.5em;
	text-align: left;
	padding-bottom: 1em;
}
.r-title #nickname{
	float: right;
    padding-right: 4em;
    padding-top: 1em;
    font-size: 20px;   
    color: rgb(174, 174, 174); 
}

#icon{
    width: 35px;
    height: 25px;
    float: left;
    padding-right: 10px
}

table{
    width: 80%;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
    border : none;
}

.t{
    background-color: rgb(220, 220, 220);  
}

.info{
    padding-top: 3em;
}
.info td{
	width: 5em;
}
.reply-container{
    padding-top: 15px;
    
}

.reply-container {
    width: 100%;
    height: auto;
    margin-top: 5em;
    padding: 0.5em;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 7px;
}
#rSubmit{
	float: right;
}                       

/* 리스트의 그리드 부분----------------------------------------- */
.js .grid--loaded::after {
	opacity: 0;
}

.grid__item {
	width: 270px;
	padding: 10px;
}

.grid__item--current {
	opacity: 0 !important;
}

.img-wrap {
	display: block;
}

.img-wrap:focus,
.img-wrap:hover {
	outline: none;
}

.img-wrap img {
	display: block;
	max-width: 100%;
}

.preview {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 50%;
	height: 100%;
	pointer-events: none;
}

.preview::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #FFF;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.preview--open {
	pointer-events: auto;
}

.preview--open::before {
	opacity: 1;
}

.clone {
	position: fixed;
	z-index: 110;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-backface-visibility: hidden;
}

.original {
	position: relative;
	z-index: 120;
	display: block;
	object-fit: contain;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-backface-visibility: hidden;
}

.preview--open .animate {
	/* open */
	-webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
	transition: transform 0.6s, opacity 0.2s;
}

.animate {
	/* close */
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.description {
	display: none;
}

.js .description--grid {
	color: #5D5D5D;
}

.description--preview {
	font-size: 15px;
	position: absolute;
	z-index: 140;
	width: 100%;
	left: 100%;
	top: 0;
	height: 100%;
	padding: 0 1em;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	opacity: 0;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 30px, 0);
	transform: translate3d(0, 30px, 0);
}

.preview--open .description--preview {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.description--preview h3 {
	font-weight: normal;
	margin: 0;
}

.description--preview p {
	font-size: 0.65em;
	max-width: 100%;
}

.description--preview p em {
	color: #5D5D5D;
	display: block;
	padding: 0.4em 0 0 0;
}


/* Details */

.details {
	max-width: 100%;
	/* IE 10-11 bug flexbox */
}

.details ul {
	line-height: 1;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.details ul li {
	font-size: 0.5em;
	position: relative;
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0.15em 0;
	white-space: nowrap;
	opacity: 0;
	color: #9d9d9d;
	-webkit-transition: -webkit-transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

.preview--open .details ul li {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.preview--open .details ul li:nth-child(1) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.preview--open .details ul li:nth-child(2) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.preview--open .details ul li:nth-child(3) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.preview--open .details ul li:nth-child(4) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.preview--open .details ul li:nth-child(5) {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.details ul li:first-child {
	font-weight: bold;
	color: #909090;
}

.icon {
	font-family: 'camera-icons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
}

.icon + span {
	margin-left: 5px;
	vertical-align: middle;
}

.icon-focal_length:before {
	content: '\e600';
}

.icon-exposure_time:before {
	content: '\e601';
}

.icon-iso:before {
	content: '\e602';
}

.icon-camera:before {
	content: '\e603';
}

.icon-aperture:before {
	content: '\e604';
}

.details .icon {
	margin-right: 5px;
	color: #77d45b;
}


/* Close button */

.action {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	cursor: pointer;
	vertical-align: top;
	color: #6bd68a;
	border: none;
	background: none;
}

.action:hover,
.action:focus {
	color: #6bd68a;
	outline: none;
}

.action--close {
	position: fixed;
	z-index: 150;
	top: 0;
	right: 0;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
}

.preview--image-loaded .action--close {
	margin-top: 5em;
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.text-hidden {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
}

@media screen and (max-width: 40em) {
	.description--preview h3 {
		font-size: 0.5em;
	}
	.description--preview p,
	.details {
		display: none;
	}
}
/* 글쓰기 버튼 */
/* BUTTON 2 */
/* GENERAL BUTTON STYLING */
.button-container{
	height:0.5em;
}
.btn-2{
	float:right;
	margin-right: 1.5em;
	color: #404040;
}
.btn-2::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
  width: 8em;
  background: none;
  border: 4px solid #EB5C01;
  border-radius: 7px;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  padding:0.3em;
}

.btn-2::before,
.btn-2::after {
  background: #EB5C01;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-2:hover {
  color: #FFF
}
.btn-2::after {
  height: 103%;
  left: -0.5px;
  top: -0.5px;
  width: 0;
}

.btn-2:hover:after {
  width: 101%;
}
/* 댓글등록버튼 */

.btn-gradient.mini{
  padding: 4px 12px;  
  font-size: 12px;
}
.btn {
	position: relative;
	border: 0;
	padding: 15px 25px;
	display: inline-block;
	text-align: center;
	color: white;
}
.btn:active {
	top: 4px;	
}

.btn-gradient {
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-gradient.orange {
	background: rgba(255,105,30,1);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,105,30,1)), to(rgba(230,95,28,1)));
	background: -webkit-linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%);
	background: -moz-linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%);
	background: -o-linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%);
	background: linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%);
}
.btn-gradient.orange:active {background: #E8601B;}

/* 검색 */
#searchInfo{
	position:absolute;
	top:11%;
	left:3%;
	color: #404040;
	font-size:20px;
	font-weight: 1000;
}
.search-bar{
	position:absolute;
	top: 7%;
	left: -1%;
}
		* {
			border: 0;
			box-sizing: border-box;
			margin: 0;
		}
		:root {
			font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
		}
		button, input {
			font: 10px, Hind, sans-serif;
			line-height: 1em;
		}

		.search-bar {
			display: flex;
		}
		.search-bar input,
		.search-btn, 
		.search-btn:before, 
		.search-btn:after {
			transition: all 0.25s ease-out;
		}
		.search-bar input,
		.search-btn {
			width: 2em;
			height: 2em;
		}
		.search-bar input:invalid:not(:focus),
		.search-btn {
			cursor: pointer;
		}
		.search-bar,
		.search-bar input:focus,
		.search-bar input:valid  {
			width: 100%;
		}
		.search-bar input:focus,
		.search-bar input:not(:focus) + .search-btn:focus {
			outline: transparent;
		}
		.search-bar {
			margin: auto;
			padding: 1.5em;
			justify-content: center;
			max-width: 10em;
		}
		.search-bar input {
			background: transparent;
			border-radius: 3em;
			box-shadow: 0 0 0 0.4em #EB5C01 inset;
			transform: translate(0.5em,0.5em) scale(0.5);
			transform-origin: 100% 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
		.search-bar input::-webkit-search-decoration {
			-webkit-appearance: none;
		}
		.search-bar input:focus,
		.search-bar input:valid {
			background: #fff;
			border-radius: 0.375em 0 0 0.375em;
			box-shadow: 0 0 0 0.1em #d9d9d9 inset;
			transform: scale(1);
		}
		.search-btn {
			background: #EB5C01;
			border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
			padding: 0.75em;
			position: relative;
			transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
			transform-origin: 0 50%;
		}
		.search-btn:before, 
		.search-btn:after {
			content: "";
			display: block;
			opacity: 0;
			position: absolute;
		}
		.search-btn:before {
			border-radius: 50%;
			box-shadow: 0 0 0 0.2em #f1f1f1 inset;
			top: 0.25em;
			left: 0.25em;
			width: 0.8em;
			height: 0.8em;
		}
		.search-btn:after {
			background: #f1f1f1;
			border-radius: 0 0.25em 0.25em 0;
			top: 51%;
			left: 51%;
			width: 0.25em;
			height: 0.25em;
			transform: translate(0.2em,0) rotate(45deg);
			transform-origin: 0 50%;
		}
		.search-btn span {
			display: inline-block;
			overflow: hidden;
			width: 1px;
			height: 1px;
		}
		
		/* Active state */
		.search-bar input:focus + .search-btn,
		.search-bar input:valid + .search-btn {
			background: #6e6e6e;
			border-radius: 0 0.375em 0.375em 0;
			transform: scale(1);
		}
		.search-bar input:focus + .search-btn:before, 
		.search-bar input:focus + .search-btn:after,
		.search-bar input:valid + .search-btn:before, 
		.search-bar input:valid + .search-btn:after {
			opacity: 1;
		}
		.search-bar input:focus + .search-btn:hover,
		.search-bar input:valid + .search-btn:hover,
		.search-bar input:valid:not(:focus) + .search-btn:focus {
			background: #EB5C01;
		}
		.search-bar input:focus + .search-btn:active,
		.search-bar input:valid + .search-btn:active {
			transform: translateY(1px);
		}
		
		@media screen and (prefers-color-scheme: dark) {
			body, input {
				color: #f1f1f1;
			}
			body {
				background: #EB5C01;
			}
			.search-bar input {
				box-shadow: 0 0 0 0.4em #f1f1f1 inset;
			}
			.search-bar input:focus,
			.search-bar input:valid {
				background: #3d3d3d;
				box-shadow: 0 0 0 0.1em #3d3d3d inset;
			}
			.search-btn {
				background: #f1f1f1;
			}
		}