/* 
div, article, section {
    border: 1px solid black;
    box-sizing: border-box;
    font-family: 'Noto Serif KR', serif;
    color: #464646;
}   */
body * {
  box-sizing: border-box;
  text-align: center;
}	

/* body { overflow: hidden; } */
h2{
	font-size:17px;
}
/* 아코디언 */
.search-info{
	font-famlily:korea;
	color:#fff;
	width:25px;
	float:left;
	item-align:center;
	text-align:center;
	font-size: 30px;
}
article.accordion
{
  position:relative;
  display: block;
  width: 26em;
  height:10em;
  margin: 0 auto;
  background-color: #F5F5F5;
  overflow: auto;
  border-radius: 10px;
}
article.accordion section
{
	padding-top:44px;
	z-index:100;
  display: block;
  float: left;
  width: 2em;
  height: 8em;
  margin: 0em 0 0.5em 0.5em;
  color: #333;
/*   overflow: hidden; */
  border-radius: 3px;
}
article.accordion section h2 input
{
  font-size: 1em;
  font-weight: bold;
  width: 8em;
  height: 2em;
  top: 12em;
  left: 0;
  text-indent: 1em;
  padding: 0;
  margin: 0;
  color: #ddd;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
article.accordion section{
}
article.accordion section h2 a input
{
  display: block;
  width: 120%;
  line-height: 1em;
  text-decoration: none;
  color: inherit;
  outline: 0 none;
}article.accordion section:target
{
  width: 15em;
  padding: 0 1em;
  color: #333;
  background-color: #fff;
}

article.accordion section:target h2 input
{
  position: static;
  font-size: 1.3em;
  text-indent: 0;
  color: #333;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  margin-bottom: 10
}
article.accordion section,
article.accordion section h2
{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* 검색창 */
/*--------------------------------------------------------------
1.0 - BASE SITE STYLES
--------------------------------------------------------------*/
*,*:after,*:before {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}


/*--------------------------------------------------------------
2.0 - SEARCH FORM
--------------------------------------------------------------*/
.searchform input, .searchform button, form{
/* 	float: left; */
z-index:5;
}
.searchform input {
	margin-top: 3em;
	background:#fefefe;
	border: none;
	font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	margin-right: 5px;
	padding: 10px;
	width: 216px;
	box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
}
.searchform input:focus {
	outline: none;
	box-shadow:0 0 4px #0d76be inset;
	-moz-box-shadow:0 0 4px #0d76be inset;
	-webkit-box-shadow:0 0 4px #0d76be inset;
}
.searchform input::-webkit-input-placeholder {
 	font-style: italic;
 	line-height: 15px
}

.searchform input:-moz-placeholder {
  font-style: italic;
 	line-height: 15px
}

.searchform button {
		height:30px;
	vertical-align: inital;
	background: linear-gradient(#eb5b01, #eb5c50);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
	border: none;
	color:#fff;
	cursor: pointer;
	font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	padding: 10px;
	width:106px;
	box-shadow: 0 0 2px #2692dd inset;
	-moz-box-shadow: 0 0 2px #2692dd inset;
	-webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
.searchform button:hover {
	opacity:.9;
}
/* 기존 */
.container{
}
.header {
  background-color: #EB5C01;
  color: black;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.sideBar{
	float:left;
	padding-top:30em;
	padding-left: 15em;	
	color: #2b686e;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

.contents{
	float:right;
	padding-top:0;
}
.search{
	background: #464646;
}
.search, .intro, .table-users {
  width:100%;
  height: auto;
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
}
.contents{
	padding-top: 6rem;
}
table {
  width: 100%;
  heith: 80%;
}
table th{
	color: #286267;
  padding: 05px;
  font-size: 15px;
} 
table td{
  color: #2b686e;
  padding: 5px;
}
table td {
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}
/* table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
} */
.colored{
  background-color: #F5F5F5;
  font-weight: 300;	
  width: 10em;
}
table th {
  background-color: #F5F5F5;
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
  background-color: white;
}

@media screen and (max-width: 700px) {
  table, tr, td {
    display: block;
  }
td{
	width: 80px;
	
}
  td:first-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
  }
  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }
  td:not(:first-child):before {
    color: #91ced4;
    content: "";
    display: block;
    left: 0;
    position: absolute;
  }
  td:nth-child(2):before {
    content: "Name:";
  }
  td:nth-child(3):before {
    content: "Email:";
  }
  td:nth-child(4):before {
    content: "Phone:";
  }
  td:nth-child(5):before {
    content: "Comments:";
  }

  tr {
    padding: 10px 0;
    position: relative;
  }
  tr:first-child {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header {
    background-color: transparent;
    color: black;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  img {
    border: 3px solid;
    border-color: #FFC8A5;
    height: 100px;
    margin: 0.5rem 0;
    width: 100px;
  }

  td:first-child {
    background-color: #FFE8D9;
    border-bottom: 1px solid #91ced4;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    transform: translateY(0);
    width: 100%;
  }
  td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
  }
  td:not(:first-child):before {
    font-size: 0.8em;
    padding-top: 0.3em;
    position: relative;
  }
  td:last-child {
    padding-bottom: 1rem !important;
  }

  tr {
    background-color: white !important;
    border: 1px solid #FFC8A5;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 0;
  }

  .table-users {
    border: none;
    box-shadow: none;
    overflow: visible;
  }
  
